.container {
  display: flex;
  justify-content: center;
  background-color: #d1e8e4;
}
button {
  background-color: black;
  color:aliceblue;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  margin-top: 20px;
}